.productPhotos img {
  float: left;
  width: 20%;
  margin: 5%;
}

.clearfix {
  clear: both;
}

header {
  background-color: lightgrey;
  padding: 10px;
  border: thin solid black;
}

h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 70px;
}

h2 {
  text-align: center;
  color: rgb(117, 82, 225);
}

p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border: 5px dotted purple;
}

#mainBus {
    width: 30%;
    float: left;
    margin-right: 30px;
}

#barChart {
  width: 80%;
  margin: auto;
}
